#wpadminbar {
  display: none;
}
.fullSizeContainer {
  background-color: #151616eb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-color: #2adf85;
  transition: top 0.7s ease;
}
.Mycontainer {
  max-width: 1440px;
  margin: auto;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu,
.languageUl,
.menuItems {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
.menuItems {
  margin: 0px;
}

.languageUl li,
.menuItems li {
  color: white;
  font-size: 14px;
  font-family: "Work Sans", Sans-serif;
  padding-bottom: 25px;
  padding-top: 25px;
}
#menu-item-21680,
#menu-item-21756,
#menu-item-21832,
#menu-item-21908,
#menu-item-wpml-ls-119-de,
#menu-item-wpml-ls-119-en {
  padding-left: 60px;
}
.menu li a,
.menuItems li a {
  color: white !important;
  text-decoration: none;
  font-size: 14px;
  font-family: "Work Sans", Sans-serif;
}

.main-navigation {
  display: flex;
}
.contactUs {
  margin-bottom: 0px;
  padding-left: 25px;
}
.contactUs a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Work Sans", Sans-serif;
}
.myicon {
  margin-left: 10px;
}
#menu-item-21725 a:hover .sub-menu-1 {
  visibility: hidden;
}
#menu-item-wpml-ls-119-de i,
.menu-item-wpml-ls-119-en i {
  display: none;
}
#menu-item-21680 #menu-item-21755 a,
#menu-item-21756 #menu-item-21831 a,
#menu-item-21832 #menu-item-21907 a,
#menu-item-21908 #menu-item-21983 a {
  color: #2ae048 !important;
  border: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}
#menu-item-21680 #menu-item-21755 a:hover,
#menu-item-21756 #menu-item-21831 a:hover,
#menu-item-21832 #menu-item-21907 a:hover,
#menu-item-21908 #menu-item-21983 a:hover {
  color: red !important;
}

/*==============SUB MENU 1==============*/

.sub-menu-1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 72px;
  background-color: #151616eb;
  display: flex;
  justify-content: center;
  list-style-type: none;
  backdrop-filter: blur(15px);
  height: 100vh;
}
.sub-menu-1 li a {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "Work Sans", Sans-serif;
  color: #ffffff5e !important;
}
.sub-menu-1 li i {
  display: none;
}
.sub-menu-1 li {
}
.menuItems-1 {
  margin: 0px;
}
.menuItems-1 li {
  padding-top: 25px;
  padding-bottom: 25px;
}
.sub-menu-1 {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
/*#menu-item-21378 {
  margin-left: -129px;
}
#menu-item-21427 {
  margin-left: -120px;
}
#menu-item-21540 {
  margin-left: -111px;
}
#menu-item-21615 {
  margin-left: -102px;
}*/
.beVisible {
  visibility: visible;
}
.beHidden {
  visibility: hidden;
}
.beWhiteText {
  color: white;
}
/*---------------------------------*/
/*#menu-item-21374:hover .sub-menu-1 {
  /*HOVER NA BRAND*/
/*visibility: visible;
  opacity: 1;
}*/

/*#menu-item-21374:hover #menu-item-21378 a {
  color: white !important;
}*/
#menu-item-21680 #menu-item-21681 a {
  color: white !important;
}
#menu-item-21680 #menu-item-21681 #menu-item-21682 a:hover,
#menu-item-21680 #menu-item-21681 #menu-item-21686 a:hover,
#menu-item-21680 #menu-item-21681 #menu-item-21692 a:hover {
  color: #2ae048 !important;
}
/*---------------------------------*/
/*#menu-item-21375:hover > .sub-menu-1 {
  /*HOVER NA CONTENT*/
/* visibility: visible;
  opacity: 1;
}*/
/*#menu-item-21375:hover #menu-item-21455 a {
  color: white !important;
}*/
#menu-item-21756 #menu-item-21785 a {
  color: white !important;
}
#menu-item-21756 #menu-item-21785 #menu-item-21786 a:hover,
#menu-item-21756 #menu-item-21785 #menu-item-21790 a:hover,
#menu-item-21756 #menu-item-21785 #menu-item-21800 a:hover {
  color: #2ae048 !important;
}

/*---------------------------------*/
/*#menu-item-21376:hover > .sub-menu-1 {
  /*HOVER NA DIGITAL*/
/*visibility: visible;
  opacity: 1;
}*/
/*#menu-item-21376:hover #menu-item-21576 a {
  color: white !important;
}*/
#menu-item-21832 #menu-item-21879 a {
  color: white !important;
}
#menu-item-21832 #menu-item-21879 #menu-item-21880 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21883 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21889 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21893 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21896 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21897 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21898 a:hover,
#menu-item-21832 #menu-item-21879 #menu-item-21899 a:hover {
  color: #2ae048 !important;
}

/*---------------------------------*/
/*#menu-item-21377:hover > .sub-menu-1 {
  /*HOVER NA TEAM*/
/*visibility: visible;
  opacity: 1;
}*/
/*#menu-item-21377:hover #menu-item-21715 a {
  color: white !important;
}*/
#menu-item-21908 #menu-item-21976 a {
  color: white !important;
}
#menu-item-21908 #menu-item-21976 #menu-item-21977 a:hover,
#menu-item-21908 #menu-item-21976 #menu-item-21979 a:hover,
#menu-item-21908 #menu-item-21976 #menu-item-21981 a:hover {
  color: #2ae048 !important;
}
/*---------------------------------*/

/*==============SUB MENU 1 END==============*/

.sub-menu-2 {
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}
.sub-menu-2 li a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Work Sans", Sans-serif;
  color: #ffffff5e !important;
}
.sub-menu-2 li a:hover {
  color: #2ae048 !important;
}
.sub-menu-2 li {
  padding: 0px;
}
.sub-menu-3 {
  padding-left: 15px;
  list-style-type: disc;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sub-menu-3 li a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Work Sans", Sans-serif;
  color: #ffffff5e !important;
}
.sub-menu-3 li::marker {
  color: #ffffff5e !important;
}

@media screen and (width < 1024px) {
  .fullSizeContainer {
    display: none;
  }
}

@media screen and (width > 1023px) {
  .mobileMenu {
    display: none;
  }
}

/*MOBILE MENU CSS*/

.mobileMenuContainer {
  background-color: #151616eb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-color: #2adf85;
  transition: top 0.7s ease;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.logoMobile {
  width: 55%;
}

.mobileHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.hamburgerMenu {
  background-color: #2ae048;
}
.hiddenMobileMenuItems {
  left: -1600px !important;
  transition: left 0.5s ease;
}
.visibleMobileMenuItems {
  left: 0 !important;
  transition: left 0.5s ease;
}
.menu-custom_megamenu_mobile-container {
  position: absolute;
  left: -1600px;
  top: 0 !important;
  background-color: white;
  width: 100%;
  height: 100vh;
  list-style-type: none;
  padding: 20px;
}
#menu-custom_megamenu_mobile {
  display: block;
  list-style-type: none;
  padding: 0px;
}
#menu-custom_megamenu_mobile li:first-child {
  text-align: end;
}
#menu-custom_megamenu_mobile li a {
  font-family: "Work Sans", sans-serif !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  color: black !important;
  font-weight: 500 !important;
  display: flex;
  justify-content: space-between;
}
#menu-custom_megamenu_mobile li {
  padding: 10px 0px 10px 0px !important;
}
#menu-custom_megamenu_mobile i {
  margin-left: 20px !important;
  font-size: 12px !important;
  border: solid 1px black !important;
  border-radius: 30px !important;
  padding: 4px 15px !important;
}
.hamburgerMenu {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 7px;
}
#menu-custom_megamenu_mobile #menu-item-21992 {
  /*X BUTTON*/
  text-align: center !important;
  background-color: #2ae048 !important;
  width: 13% !important;
  padding: 5px 5px 5px 5px !important;
  border-radius: 3px !important;
  color: white;
}
#menu-item-21992 i,
#menu-item-22329 i {
  /*X BUTTON icon*/
  display: none;
}
.menu-item-21992 a {
  /*x button link*/
  display: block !important;
}

#menu-custom_megamenu_mobile #menu-item-wpml-ls-120-de i,
#menu-custom_megamenu_mobile #menu-item-wpml-ls-120-en i {
  /*SAKRIVANJE IKONICE ZA LINKOVE ZA JEZIK*/
  display: none;
}

.closeWrapper {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
}
.mobile-sub-menu-1 {
  list-style-type: none;
  padding-left: 15px;
  background-color: #f4f4f4;
  padding: 15px 15px 15px 15px;
  margin-top: 15px;
  display: none;
}
.mobile-sub-menu-1 li a i {
  display: none;
}
.mobile-sub-menu:not(:first-of-type) {
  display: none;
}
